
body{
  font-family: sans-serif;
  background-color: #222;
  overflow: auto;
  max-width: 780px;
  margin: 0 auto;
}
.App {
  text-align: center;

}

.App-logo {
  /*animation: App-logo-spin infinite 10s linear;*/
  height: 10em;
  padding-top: 3em;
}

.App-header {
  background-color: #222;
  min-height: 150px;
  color: white;
}

.App-title {
  font-size: 3.5em;
  font-family: 'Bungee Shade', cursive;
}
#photo{
  width: 90%;
  height: 90%;
  border: 1px solid #fff;
    margin-top: 1em;
}
#photo-div{
  border: 1px solid #fff;
  background-color: rgb(164, 0, 0);
  color: #eee;
  font-family: sans-serif;
  text-transform: uppercase;
  position: absolute;
  z-index: 99999;
  width: 80%;
  max-width: 750px;
  top: 50%;
  left: 50%;
  box-shadow: 3px 3px 3px black;
  padding: 1em;
  transform: translate(-50%, -50%);
  animation: fade .8s;
}
#star-div{
  font-size: 150%;
  margin-bottom: 1em;
}
.star{
  cursor: pointer;
}
.checked{
  color: yellow;
}
#photo-cancel{
  margin-left: 1em;
  cursor: pointer;
}
#photo-rate{
  cursor: pointer;
}
#home-div{
  background-color: #222;
  overflow: hidden;
  min-height: 300px;
  animation: fade .8s;
}
#home-info{
  color: #000;
  border: 1px solid black;
  background-color: #eee;
}
#sign-in{
  width: 70%;
  height: 40%;
  border-radius: 10px;
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
  background-color: rgb(164, 0, 0);
  color: #fff;
  cursor: pointer;
  margin-top: 1em;
}
#outer-div{
  border: 1px solid #fff;
  background-color: rgb(164, 0, 0);
  position: absolute;
  z-index: 99999;
  width: 200px;
  min-height: 300px;
  top: 40%;
  left: 50%;
  box-shadow: 3px 3px 3px black;
  padding: 1em;
  transform: translate(-50%, -50%);
  animation: fade .8s;
}
#inner-div{
  background-color: #222;
  color: white;
  padding: 1em;
}
#button-div{
  margin-top: 1em;

}
.input{
  width: 10em;
}
#sign-btn{
  cursor: pointer;
}
#cancel{
  margin-left: 1em;
  cursor: pointer;
}

@media only screen and (max-width: 750px){
  .App-header{
    font-size: 65%;
  }
}
@media only screen and (max-width: 420px){
  .App-header{
    font-size: 40%;

  }
  #photo-div{
    font-size: 50%;
  }

}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
@keyframes fade {
  from {opacity: 0;}
  to {opacity: 1;}
}
